#!/usr/bin/haserl
<% 
	UPTIME=`uptime`
	TZ=`cat /etc/TZ`
	echo -en "content-type: text/html\r\n\r\n"
%>

<!DOCTYPE html>

<html>
	<head>
		<title>Open Node Observation Deck</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/css/bootstrapSwitch.css" rel="stylesheet" media="screen">
		<link href="/css/vt-bootstrap.css" rel="stylesheet" media="screen">
	</head>

	<body>
		<div id="wrap">
			<div class="container">
				<div class="row">
					<div class="navbar navbar-default navbar-fixed-top" style="min-width: 600px" role="navigation">

			 			<div class="navbar-header">
		 					<div class="homeA">
		 						<a class="navbar-brand" href="vt_index.html">VT Configuration</a>
		 						<div class="homeB"><a class="homeTxt" href="vt_index.html">Home</a></div>
		 					</div>
		 				</div>

		 				<div class="collapse navbar-collapse navbar-ex1-collapse">	
		 					<div>
			 					<ul id="tab" class="nav navbar-nav navbar-left">
						            <li class="disabled"><a href="#Network" data-toggle="tab">Network</a></li>
						            <li class="disabled"><a href="#Voice" data-toggle="tab">Voice</a></li>
						            <li class="active">
						            		<a href="#" data-toggle="tab">Open Node Observation Deck</a>
						            		<div class="statusTag"><a class="homeTxt" href="vt_status.html">Status</a></div>
						            </li>
			    				</ul>
		    				</div>
		    				<div id="menu">
		    					<ul class="nav navbar-nav navbar-right">
	    							<li>
			    						<div class="switch hide" data-on-label="Adv" data-off-label="Basic" data-off="success" data-on="warning">
						        	    	<input type="checkbox" id="chk1" >
						            	</div>
					        		</li>
		    						<li class="btn-group">
										<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="config" href="#" style="color:#000000"><span class="glyphicon glyphicon-cog"></span></button>
										<ul id="cogMenu" class="dropdown-menu pull-right">
											<li class="dropdown-header icon-wrench">Logger</li>
											<li value=1><a href="#"><span class="glyphicon glyphicon-play"></span> Start Scan</a></li>
											<li value=2><a href="#"><i class="glyphicon glyphicon-stop"></i> Stop Scan</a></li>
											<li class="divider"></li>

											<li id="Advanced" class="dropdown-header icon-wrench">Advanced</li>
											<li value=3><a href="#"><i class="glyphicon glyphicon-trash"></i> Reset Data</a></li>
											<li value=4><a href="#"><i class="glyphicon glyphicon-edit"></i> Logger Settings</a></li>
											<li class="divider"></li>
											<li id="Custom" class="dropdown-header icon-pencil">Custom</li>
											<li value=5><a href="#">Choose Node...</a></li>
										</ul>
									</li>
								</ul>
							</div>
		    			</div>
		    		</div>
		    	</div>
	    	</div>

			<div class="container" style="padding: 0px; margin-top: 41px;">
				<div class="row">
					<div class="tab-pane active" id="status">
			    		<div id="oNav" class="navbar navbar-default navbar-fixed-left">
							<div class="collapse navbar-collapse navbar-ex1-collapse sideNav">
								<ul id="side" class="nav navbar-nav">
									<li value=0 class="active"><a href="#" data-toggle="side">Node Neighborhood</a></li>
									<li value=1><a href="#" data-toggle="side">Node Batman Score</a></li>
									<li value=2><a href="#" data-toggle="side">Node Wireless S.N.R</a></li>
									<li value=3><a href="#" data-toggle="side">Node Wireless Scan</a></li>
									<li value=4><a href="#" data-toggle="side">Node Wireless RSSI</a></li>
								</ul>
							</div>
						</div>

				      	<!-- Modal -->
                 		<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
               	  			<div class="modal-dialog">
								<div class="modal-content">
		                        	<div class="modal-header">
		                        		<h3 id="myModalLabel">Logger Settings</h3>
		                        	</div>
		                        	<div class="modal-body">
		                           		<form id="loggerForm" class="form-horizontal">
		                            		<fieldset>
				                              	<div class="control-group">
				                                    <label class="control-label" for="rTime">Run Time</label>
				                                    <div class="controls">
				                                       <input type="text" id="rTime" name= "rTime" value="300">
				                                    </div>
				                                    <label class="control-label" for="sInterv">Scan Interval</label>
				                                    <div class="controls">
				                                       <input type="text" id="sInterv" name="sInterv" value="5">
				                                    </div>
				                                    <label class="control-label" for="lLen">Log Length</label>
				                                    <div class="controls">
				                                    	<input type="text" id="lLen" name="lLen" value="25">
				                                    </div>
				                                    <div class="controls">
				                                      	<label class="checkbox inline" for="checkboxes-settings-cL">
				                                        	<input type="checkbox" name="checkboxes-settings" id="checkboxes-settings-cL" value="clearLog"> Clear Log
				                                      	</label>
				                                      	<label class="checkbox inline" for="checkboxes-settings-rF">
				                                         	<input type="checkbox" name="checkboxes-settings" id="checkboxes-settings-rF" value="runForever"> Run Forever
				                                      	</label>
				                                    </div>
				                              	</div>
				                                <div class="control-group">
				                                    <legend>Data types</legend>
				                                    <div class="controls">
				                                    	<label class="checkbox" for="checkboxes-dataType-0">
				                                          	<input type="checkbox" name="checkboxes-dataType" id="checkboxes-dataType-0" value="batman" checked> Batman List
				                                    	</label>
				                                    	<label class="checkbox" for="checkboxes-dataType-1">
				                                          	<input type="checkbox" name="checkboxes-dataType" id="checkboxes-dataType-1" value="assoc" checked> Associate List
				                                    	</label>
				                                    	<label class="checkbox" for="checkboxes-dataType-2">
				                                        	<input type="checkbox" name="checkboxes-dataType" id="checkboxes-dataType-2" value="scan" checked> Wi-Fi Scan
				                                    	</label>
				                                    </div>
				                              	</div>
		                              		</fieldset>
		                          		</form>
		                            </div>
		                            <div id="logSetFooter" class="modal-footer">
		                            	<button class="btn" value="0" aria-hidden="true">Close</button>
		                            	<button class="btn btn-primary settingBut" value="1">Save settings</button>
		                            	<button class="btn btn-danger settingBut" value="2">Save &amp; Apply</button>
		                            </div>
	               				</div>
            				</div>
            			</div>
						<div id="oPlace"></div>	
					</div>
				</div>
			</div>

		    <div id="footer">
		  		<div class="container">
	    			<div id="fContent" class="muted credit">Time: <%= $UPTIME %> <br> Time Zone: <%= $TZ %></div>
	        	</div>     
		  	</div>

	  	</div>

		<!-- Load javascript -->
		<script type="text/javascript" src="/lib/jquery-1.7.1.js"></script>
		<script type="text/javascript" src="/lib/jquery.validate.min.js"></script>
		<script type="text/javascript" src="/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="/lib/bootstrapSwitch.js"></script>
		<script type="text/javascript" src="/lib/raphael-min.js"></script>
		<script type="text/javascript" src="/lib/g.raphael-min.js"></script>
		<script type="text/javascript" src="/lib/g.line-min.js"></script>
		<script type="text/javascript" src="/lib/g.bar-min.js"></script>
		<script type="text/javascript" src="/lib/ONOD-lib.js"></script>
	</body>
</html>